@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-texto-primario: #0A3871;
    --cor-texto-secundario: #343A40;
    --cor-texto-terciario: #495057;

    --cor-fundo-principal: #F3F5FC;
    --cor-fundo-bloco: white;

    --cor-botao-escuro: #0A3871;

    --cor-texto-botao-escuro: white;
    --cor-texto-botao-claro: #0A3871;

    --cor-borda-botao: #0A3871;

    --fonte-primaria: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo-principal);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.cabecalho {
    height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cabecalho__img {
    height: auto;
    margin-top: 0;
}

.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.principal__input {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: var(--cor-texto-primario);
    font-family: var(--fonte-primaria);
}

.principal__input__titulo {
    position: relative;
    top: 80px;
    font-size: 2rem;
    font-weight: 400;
}

.principal__input__caixatexto {
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    height: 680px;
    width: 680px;
    color: var(--cor-texto-primario);
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    font-weight: 400;
}

.principal__input__alerta {
    display: flex;
    gap: 8px;
    color: var(--cor-texto-terciario);
    font-size: 0.75rem;
    font-weight: 400;
}

.principal__input__btn {
    width: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.btn__criptografar,
.btn__descriptografar {
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.btn__criptografar {
    background-color: var(--cor-botao-escuro);
    color: var(--cor-texto-botao-escuro);
}

.btn__descriptografar {
    background-color: transparent;
    border: 1px solid var(--cor-borda-botao);
    color: var(--cor-texto-botao-claro);
}

.principal__output {
    background-color: var(--cor-fundo-bloco);
    height: 100vh;
    width: 400px;
    margin: 20px;
    padding: 32px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-family: var(--fonte-primaria);
}

.principal__output__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.texto__titulo {
    color: var(--cor-texto-secundario);
    font-size: 1.5rem;
    font-weight: 700;
}

.texto__mensagem {
    color: var(--cor-texto-terciario);
    font-size: 1rem;
    font-weight: 400;
}

.principal__output__resultado {
    display: none;
    height: 100vh;
    width: 400px;
    padding: 32px;
    color: var(--cor-texto-terciario);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.btn__copiar {
    background-color: transparent;
    width: 350px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--cor-borda-botao);
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto-botao-claro);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .principal {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .principal__output {
        position: relative;
        height: auto;
        width: 680px;
        gap: 0;
    }

    .principal__output__img {
        display: none;
    }

    .principal__output__resultado {
        height: auto;
        width: 640px;
    }

    .btn__copiar {
        display: none;
        width: 640px;
    }
}

@media (max-width: 375px) {
    .principal {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .principal__input__caixatexto {
        width: 340px;
    }

    .principal__input__btn {
        width: 340px;
        flex-direction: column;
        justify-content: center;
    }

    .btn__criptografar,
    .btn__descriptografar {
        width: 340px;
    }

    .principal__output {
        position: relative;
        height: auto;
        width: 340px;
        gap: 0;
    }

    .principal__output__img {
        display: none;
    }

    .principal__output__resultado {
        height: auto;
        width: 300px;
    }

    .btn__copiar {
        display: none;
        width: 300px;
    }
}